<mat-toolbar style="background-color: lightblue">
  <span>Customer Relationship Management</span>
</mat-toolbar>

<div class="container m-3">
    <div class="row justify-content-around">
        <mat-card class="col-md-6 text-center" style="min-height: 500px">
          <app-list (getId)="getId($event)"></app-list>
        </mat-card>
      <mat-card class="col-md-4 float-right text-center">
        <button mat-raised-button color="primary"routerLink="/customers/add">Add customer</button><hr>
        <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>

<mat-toolbar style="background-color: lightblue">
  <span>CRM</span>
</mat-toolbar>
