
<input 
    class="form-control mr-sm-2 mr-2 mt-2 mb-2" 
    style="max-width:200px" type="search" 
    placeholder="Search by first name" 
    aria-label="Search"
    [(ngModel)]="searchCustomer"
>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Age</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="customers-table">
        <tr *ngFor = "let customer of customers| filter:searchCustomer: 'name'; let idx = index ">
            <th scope="row">{{ idx + 1 }}</th>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.surname }}</td>
            <td>{{ customer.age }}</td>
            <td>
                <button
                    type="button"
                    class="btn btn-primary btn-sm" 
                    [routerLink]="['/customers/details', customer.id]" 
                >Details</button>
                <button 
                    type="button" 
                    class="btn btn-success btn-sm" 
                    [routerLink]="['/customers/edit', customer.id]"
                >Edit</button>
                <button 
                    type="button" 
                    id="btn-delete" 
                    class="btn btn-danger btn-sm"
                    (click)="deleteCustomer(customer.id)"
                >Delete</button>
            </td>
        </tr>
    </tbody>
</table>



