<nav class="navbar navbar-light" style="background-color: lightblue;">
  <a class="navbar-brand" style="font-size: 20px;">Customer Relationship Management</a>
</nav>

<div class="container m-3">
    <div class="row justify-content-around">
      <div class="col-md-6 text-center" style="min-height: 500px">
        <app-list></app-list>
      </div>
      <div class="col-md-4 float-right text-center">
        <button class="btn btn-secondary m-2" routerLink="/customers/add">Add customer</button>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p class="navbar-text">CRM</p>
</footer> 
