<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Edit customer</h3>
  <mat-form-field>
    <input 
      matInput 
      type="text" 
      id="edit-id"
      placeholder="Enter name"
      formControlName="name"
    >
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
      <p *ngIf="name.errors.minlength">Name must be at least 2 characters long.</p>
      <p *ngIf="name.errors.required">Name is required.</p>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput 
      type="text" 
      id="edit-id"
      placeholder="Enter surname"
      formControlName="surname"
    >
    <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
      <p *ngIf="surname.errors.minlength">Surname must be at least 2 characters long.</p>
      <p *ngIf="surname.errors.required">Surname is required.</p>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput 
      type="text" 
      id="edit-id"
      placeholder="Enter age"
      formControlName="age"
    >
    <mat-error *ngIf="age.invalid && (age.dirty || age.touched)">
      <p *ngIf="age.errors.minlength">Surname must be at least 2 characters long.</p>
      <p *ngIf="age.errors.required">Surname is required.</p>
    </mat-error>
  </mat-form-field>
  <div>
    <button 
    mat-raised-button
    class="btn-submit" 
    type="submit" 
    [disabled]="form.invalid"
  >Submit</button>
  <button
    mat-raised-button 
    color="warn"  
    routerLink="/"
  >Close</button>
  </div>
</form>
